@font-face {
    font-family: 'Determination';
    src: url('fonts/DeterminationMonoWeb.woff') format('woff');
}

@font-face {
    font-family: 'Bitrimus';
    src: url('fonts/bitrimus/Bitrimus.ttf') format('truetype');
}

@font-face {
    font-family: "Mercy";
    src: url('fonts/mercy/mercy.otf') format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Determination', monospace;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.grid-background-layer-1,
.grid-background-layer-2 {
    position: fixed;
    top: 70;
    left: 70;
    width: 200%;
    height: 200%;
    background-image:
        repeating-linear-gradient(to bottom, rgba(70, 0, 70, 1) 0px, rgba(70, 0, 70, 1) 2px, transparent 2px, transparent 50px),
        repeating-linear-gradient(to right, rgba(70, 0, 70, 1) 0px, rgba(70, 0, 70, 1) 2px, transparent 2px, transparent 50px);
    animation: scroll-1 8s linear infinite;
    z-index: 1;
}

.grid-background-layer-2 {
    background-image:
        repeating-linear-gradient(to bottom, rgba(35, 0, 35, 1) 0px, rgba(35, 0, 35, 1) 2px, transparent 2px, transparent 50px),
        repeating-linear-gradient(to right, rgba(35, 0, 35, 1) 0px, rgba(35, 0, 35, 1) 2px, transparent 2px, transparent 50px);
    animation: scroll-2 8s linear infinite;
    z-index: 0;
}

@keyframes scroll-1 {
    from {
        transform: translateY(0px) translateX(0px);
    }

    to {
        transform: translateY(-100px) translateX(-100px);
    }
}

@keyframes scroll-2 {
    from {
        transform: translateY(0px) translateX(0px);
    }

    to {
        transform: translateY(100px) translateX(100px);
    }
}

.container {
    z-index: 2;
    text-align: center;
}

.timer {
    font-size: clamp(2.5em, 14vw, 5em);
    margin-bottom: clamp(0.8em, 1em - 10vw, 0.5em);
    background-color: black;
    border: 4px solid green;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.2em;
    display: inline-block;
    color: #0f0;
    user-select: none;
    letter-spacing: 0.1em;
}

#phaseBox {
    font-family: 'Bitrimus', monospace;
    text-transform: uppercase;
    font-size: 2.2em;
    color: white;
    border: 2px solid cyan;
    padding: 0.6em 1em;
    width: clamp(3.25cm, 60vw, 7.5cm);
    /*margin: 0 auto 1em auto;*/
    user-select: none;
    background-color: #121212;
    text-align: center;
    border-radius: 0px;
}

#controls {
    width: clamp(3.25cm, 60vw, 7.5cm);
    /*margin: 0 auto;*/
    text-align: match-parent;
    display: flex;
    justify-content: center;
    /*gap: 1em;*/
    /*margin-bottom: 1em;*/
    user-select: none;
}

#startBtn,
#skipBtn {
    font-family: 'Mercy', monospace;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0.22em 0.2em;
    flex-grow: 1;
    border: 2px solid cyan;
    background-color: black;
    color: orange;
    cursor: pointer;
    border-radius: 0px;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
    margin-bottom: 5em;
}

#startBtn:hover,
#skipBtn:hover,
.close-btn:hover,
.corner-btn:hover,
.settings-confirm:hover {
    background-color: white;
    color: black;
}

strong {
    color:aqua;
}

#info-header {
    color:rgb(193, 255, 47)
}

.settings-header {
    color: hotpink;
    text-align: center;
}

.settings-option {
    color: hotpink;
}

.time-setter {
    text-align: right;
    color: hotpink;
    background-color: #111;
    outline: 2px solid magenta;
    position: absolute;
    right: 5%;
    font-family: 'Mercy', monospace;
}

.settings-confirm {
    color: hotpink;
    background-color: #111;
    outline: 2px solid magenta;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mercy', monospace;
    font-size: clamp(1em, 0.1%, 2em);
    margin-top: 1em;
    margin-bottom: 1em;
}

.susie-border {
    border: 2px solid magenta
}

.dialogue-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: clamp(2.5cm, 25%, 6cm);
    background-color: black;
    border-top: 2px solid rgb(48, 38, 51);
    padding-top: 1em;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    font-family: 'Determination', monospace;
    line-height: 1.4em;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
    z-index: 3;
    user-select: none;
}

.dialogue-portrait {
    /*height: 10vh;*/
    /*object-fit: fill;*/
    /*border: 2px solid white;*/
    max-width: 20vw;
}

.dialogue-text {
    position: absolute;
    left: 20vw;
    color: white;
    padding-right: 1em;
    padding-left: 1em;
    width: 75vw;
    min-height: 3em;
    white-space: pre-wrap;
}

.tp-container {
    position: absolute;
    top: 15%;
    left: 3%;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.tp-sidebar {
    color: white;
    margin-top: 10vh;
    font-size: 2.2em;
    width: 2.2vw;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

#tpPercent {
    z-index: 3;
}

.tp-meter {
    background: darkred;
    width: 1.2cm;
    aspect-ratio: 1/8;
    transform: skewY(-45deg);
}


/*.tp-border {
      height: 100%;
      border-top: 20px solid white;  Constant border
      overflow: hidden;
      z-index: 3;
    }*/

.tp-filling {
    background-color: orange;
    height: 100%;
    width: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.2s linear;
}

/* Left side GIF container */
.left-gif-container {
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    z-index: 2;
    user-select: none;
}

.char-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.left-gif-container img {
    width: max-content;
    height: auto;
    /*border: 2px solid white;
      border-radius: 4px;
      background-color: #121212;*/
}

/* Right side dynamic GIF */
.right-gif-container {
    position: absolute;
    top: 20%;
    right: 5%;
    /*border: 2px solid white;
      border-radius: 6px;
      background-color: #121212;*/
    z-index: 2;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-gif-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.popup-overlay {
    position: fixed;
    /* stays in place, overlays whole page */
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /*semi-transparent black*/ 
    z-index: 99;
    /* make sure it's above everything */
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-window {
    background-color: #111;
    border: 2px solid #0f0;
    padding: 1em;
    width: clamp(9cm, 50vw, 100cm);
    max-height: 90%;
    overflow: hidden;
    position: relative;
}

.popup-scroll {
    overflow-y: auto;
    max-height: 75vh;
    padding-right: 0.5em;
    color: white;
    font-family: 'Determination', monospace;
    font-size: clamp(1.2em, 0.1vw, 2em);
    line-height: 1.5em;
    margin-top: 1em;
}

.btn-container {
    position:absolute;
    bottom: 5%;
    right:1%;
    display: flex;
    flex-direction: column;
}

.corner-btn {
    font-family: 'Bitrimus', monospace;
    font-size: 0.8em;
    cursor: pointer;
    color: rgb(193, 255, 47);
    background-color: black;
    border: 2px solid #0f0;
    margin: 5px
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    background: none;
    border: 2px solid #0f0;
    color: white;
    padding: 0.2em 0.6em;
    margin: 0, 1em;
    font-family: 'Determination';
    cursor: pointer; }

@media (orientation: portrait) {
    .left-gif-container {display: none;}
    .right-gif-container {display: none;}
    .dialogue-portrait {transform: scale(0.75)}
    .btn-container {bottom: 35%;}
}